*{
    box-sizing: border-box;
    
}

.page-heading{
    background-image: linear-gradient(to right, #3b6ec2, #230455);
    color: white;
    width: 100%;
    text-align: center;
}

.search-txt{
    font-size: 1.5em;
}


.inputBox{
    width:100%;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid black;   
}

.searchBtn {
    width: 100%;
    background-color: #5aa2e9;
    border-radius: 5px;
    margin-bottom: 10px;
    border: none;
    color: white;
}

.search-list {
    border-top: 1px solid black;
}

.current{
    border: 1px solid black;
    width: 100%;
}

.form-search {
flex:2
}

.results {
flex:4
}

.forecast-info {
    font-size: 14px;
}

.weatherIcon {
    width: 5vw;
}

#forecast-type {
    font-size: 2vw;
    font-weight: bold;
}